<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>ATS Resume</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>

<div class="resume">

    <div class="header">

        <h1>{{ name }}</h1>

        <h3>{{ target_role }}</h3>

        <p>
            {{ email }} |
            {{ phone }}
        </p>

    </div>

    <hr>

    <section>

        <h2>Professional Summary</h2>

        <p>{{ summary }}</p>

    </section>

    <hr>

    <section>

        <h2>Technical Skills</h2>

        <ul>

            {% for skill in skills %}

            <li>{{ skill }}</li>

            {% endfor %}

        </ul>

    </section>

    <hr>

    <section>

        <h2>Projects</h2>

        {% for project in projects %}

        <h4>{{ project.title }}</h4>

        <p>{{ project.description }}</p>

        {% endfor %}

    </section>

    <hr>

    <section>

        <h2>Education</h2>

        {% for edu in education %}

        <h4>{{ edu.degree }}</h4>

        <p>{{ edu.institution }}</p>

        <p>{{ edu.cgpa }}</p>

        {% endfor %}

    </section>

    <hr>

    <section>

        <h2>Certifications</h2>

        <ul>

            {% for cert in certifications %}

            <li>{{ cert }}</li>

            {% endfor %}

        </ul>

    </section>

</div>

</body>

</html>